<!DOCTYPE html>
<html>
<head>
{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Alternatieve studentenvereniging Karpe Noktem uit Nijmegen">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="icon" href="img/favicon.ico">
	<title>{% if title is defined and title %}{{ title }} – {% endif %}Studentenvereniging Karpe Noktem</title>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
{% endblock head %}
</head>
<body>
	<div id="header">
		{% from 'macros.twig' import header_link as header_link %}
		<div class="container">
			<div id="logo"><img id="collapser" src="img/up.png" onclick="collapseHeader(this);" /> {{ header_link(action, '', '<img src="img/logo.png" alt="Karpe Noktem" style="width: 310px;">') }}</div>
			<div id="navigator" class="container">
				<ul>
					<li>{{ header_link(action, 'agenda', 'agenda') }}</li>
					<li>{{ header_link(action, 'over', 'over') }}</li>
					<li><a href="https://www.karpenoktem.nl/fotos">foto's</a></li>
					<li>{{ header_link(action, 'lidworden', 'lid worden') }}</li>
					<li>{{ header_link(action, 'contact', 'contact') }}</li>
					<li id="loginButton">
						<a id="loginButtonLink" href="https://www.karpenoktem.nl/accounts/login/"><img src="img/login.png" width="13" alt=""/> leden</a>
						<div id="loginWindow">
							<h2>Inloggen voor leden</h2>
							<p>
								Leden kunnen hier inloggen om o.a. het smoelenboek, de wiki en het forum te bekijken. Weet je je wachtwoord niet meer, mail dan naar {{ email('webcie@karpenoktem.nl') }}.
							</p>
							<form method="POST" action="/accounts/login/">
								<table>
									<tr>
										<td><label for="input-username">Gebruikersnaam</label></td>
										<td><input id="input-username" type="text" name="username" /></td>
									</tr>
									<tr>
										<td><label for="input-password">Wachtwoord</label></td>
										<td><input id="input-password" type="password" name="password" /></td>
									</tr>
									<tr>
										<td><input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value=""/></td>
										<td><input type="submit" id="input-submit" value="Inloggen"/></td>
									</tr>
								</table>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
{% block content %}
{% block overMenu %}
<div id="overMenu">
	{{ header_link(action, 'over', 'over karpe noktem', action == 'over') }}
	{{ header_link(action, 'geschiedenis', 'geschiedenis', action == 'geschiedenis') }}
	{{ header_link(action, 'activiteiten', 'activiteiten', action == 'activiteiten') }}
	{{ header_link(action, 'bestuur', 'bestuur', action|slice(0,7) == 'bestuur') }}
	{{ header_link(action, 'aktanokturna', 'akta nokturna', action == 'aktanokturna') }}
	{{ header_link(action, 'zusjes', 'zusjes', action == 'zusjes') }}
	{{ header_link(action, 'sponsoren', 'sponsoren', action == 'sponsoren') }}
</div>
{% endblock overMenu %}
{% if title is defined and title %}
	<h1>{{ title|lower }}</h1>
{% endif %}
{% endblock content %}
		</div>
		<div id="footer">
			<div class="container">
{% block footer %}
				&copy; Alternatieve studentenvereniging <span style="font-family: Variex;">Karpe Noktem</span>
				<small><a id="scrollUp" href="#">Terug naar boven</a></small>
{% endblock footer %}
			</div>
		</div>
	</div>
</body>
</html>
