<!DOCTYPE html>
<html>
<head>
{% block head %}
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Alternatieve studentenvereniging Karpe Noktem uit Nijmegen">
	<meta name="robots" content="INDEX, FOLLOW">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="icon" type="image/png" href="favicon.png">
	<title>{% if title is defined and title %}{{ title }} - {% endif %}Studentenvereniging Karpe Noktem</title>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
{% endblock head %}
</head>
<body>
	<div id="pageWrapper">
		<div id="header">
			<div class="container">
{% from 'macros.twig' import header_link as header_link %}
				<div id="logo">{{ header_link('.', '<img src="img/logo.png" alt="Karpe Noktem" width="310px">', php_self == 'index.html') }}</div>
				<div id="navigator" class="container">
					<ul>
						<li>{{ header_link('agenda.html', 'agenda', php_self == 'agenda.html') }}</li>
						<li>{{ header_link('gesciedenis.html', 'geschiedenis', php_self == 'geschiedenis.html') }}</li>
						<li>{{ header_link('lidworden.html', 'lid worden', php_self == 'lidworden.html') }}</li>
						<li>{{ header_link('contact.html', 'contact', php_self == 'contact.html') }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container">
{% block content %}
{% if title is defined and title %}
	<h1>{{ title|lower }}</h1>
{% endif %}
{% endblock content %}
			</div>
			<div id="footer">
				<div class="container">
{% block footer %}
					&copy; Alternatieve studentenvereniging <span style="font-family: Variex;">Karpe Noktem</span>
					<small><a id="scrollUp" href="#">Terug naar boven</a></small>
{% endblock footer %}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
// ScrollUp animation
$("#scrollUp").click(function(event) {
	$('html, body').animate({scrollTop:0}, 300);
	event.preventDefault();
});
	</script>
</body>
</html>