{% macro header_link(self, action, title, active, extra) %}
{% spaceless %}
	{% if not title is defined %}
		{% set title = action %}
	{% endif %}
	{% if not active is defined %}
		{% set active = self == action %}
	{% endif %}
	{% if active %}
		<a href="/{{ action }}" class="active"{{ extra|raw }}>{{ title|raw }}</a>
	{% else %}
		<a href="/{{ action }}"{{ extra|raw }}>{{ title|raw }}</a>
	{% endif %}
{% endspaceless %}
{% endmacro %}
