{% macro header_link(href, title, active, extra) %}
{% spaceless %}
	{% if active %}
		<a href="{{ href|raw }}" class="active"{{ extra|raw }}>{{ title|raw }}</a>
	{% else %}
		<a href="{{ href|raw }}"{{ extra|raw }}>{{ title|raw }}</a>
	{% endif %}
{% endspaceless %}
{% endmacro %}