{% extends 'base.twig' %}

{% set title = 'Akta Nokturna' %}

{% block overMenu %}
{{ parent() }}
{% endblock overMenu %}

{% block content %}
{{ parent() }}

<p>Hier kun je de oudere uitgaven van de Akta Nokturna downloaden:</p>
	<ul id="an">
		{% for jaargang in aktas %}
			<li>{{ jaargang.name }}</li>
			<ul>
				{% for akta in jaargang.aktas %}
					<li><a href="{{ akta.location }}">{{ akta.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>

{% endblock content %}
